body {
    font-family: 'Calibri', serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 950px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
   box-shadow: none;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 35px;
}

form {
    text-align: center;
    margin-bottom: 50px;
   
}

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    padding: 8px 20px;
    background-color: #ffd500;
    color: white;
    border: none;
    font-size:15px;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #03045e;
}
input[type="button"]:hover {
    background-color: #03045e;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    color: #a4161a;
    font-weight:bold;
}

li h3 {
    margin-top: 0;
    
    
}

li strong {
    color: #333;
    
}
input[type="button"] {
    padding: 8px 20px;
    background-color: #a4161a;
    font-size:15px;
    font-weight: bolder;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logo {
    
    margin-bottom: 20px; /* Adjust as needed */
    margin-right:50px;
    float:left;
}

.logo img {
    position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
   max-width:15%; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px;
    
}
@media print {
    form { display: none; }
    .container {
        box-shadow: none !important;
    }
}

/* CSS for desktop screens */
@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px; /* Adjust as needed */
    }
}

.logout-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

